.pane {
    background: #fff;
    border-style: solid;
    border-color: #eee;
    border-width: 2px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    border-radius: 5px;
}

.header {
    background-color: #eee;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;
    height: 30px;
}

.delay-slider{
    margin: 5px 6px 10px;
    /* margin-left: 20px; */
    width: 80px;
}
.delay-slider .ant-slider-rail{
    height: 6px;
    border-radius: 0;
    background: #7F7F7F;
    /*background: linear-gradient(90deg,rgb(245,193,66) 0%,rgb(127,170,84) 100%);*/
    /* background: linear-gradient(90deg,rgb(127,170,84) 0%,rgb(245,193,66) 50%,rgb(241,157,155) 100%); */
}
.delay-slider .ant-slider-track{
    display: none;
}
.delay-slider .ant-slider-step{
    display: none;
}
.delay-slider .ant-slider-handle{
    width: 8px;
    height: 16px;
    border: solid 1px #333;
    border-radius: 0;
    z-index: 1;
}
.ant-slider-handle:not(.any-tool-open){
    border: 1px solid #333;
    box-shadow: none;
}
.delay-slider .ant-slider-mark{
    font-size: 12px;
    left: 7px;
    top: -3px;
}

.delay-slider .ant-slider-mark .ant-slider-mark-text-active{
    display:none;
}

.ant-layout-sider .ant-layout-content{
    background: #ffffff;
}

.ant-input{
    border-color: #595959
}

.ant-select {
    border: 1px solid #595959;
    border-radius: 4px;
}
.ant-select-selection {
    border: none;
    height:19px;
    border-radius: 2px;
    box-shadow: none;
    font-size: 13px;
}
.ant-select-arrow {
   font-size: 13px;
}
.ant-select-selection__rendered {
   line-height: 18px;
    margin-left: 6px;
}

.ant-select-selection:active {
    border-color: #cccccc;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}

.ant-select-selection:hover {
    border-color: #cccccc;
}

.ant-select-dropdown-menu-item-group-title {
    font-size: 5px;
}

button{
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    cursor: pointer;
}


button:hover {
    border-color: rgb(127,170,84);
    color: rgb(127,170,84);
}





